*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  background: skyblue;
}

body{
  min-height:100vh ;
  font-size: 5rem;
  display: grid;
  place-content: center;
  text-align: center;
}

.btn1, .btn2{
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}

.increase, .decrease{
  width: 2rem;
  height:2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn2 button{
  padding: 0.6rem 1.2rem;
}